<ion-card>
  <ion-row>
    <ion-col col-4 align-items-center justify-content-center class="floor">
      <ion-card-content>
        {{theCar.currentFloor}}
      </ion-card-content>
    </ion-col>
    <ion-col class="car-info">
      <div class="car-name">
        {{theCar.name}}
      </div>
      <div>
        {{theCar.lastUpdate | date:'shortDate'}}
      </div>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col>
      <ion-row align-items-center justify-content-center>
        {{theCar.name}}
      </ion-row>
      <ion-row align-items-center justify-content-center class="floor">
        <ion-card-content>
          {{theCar.currentFloor}}
        </ion-card-content>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        Last Update: {{theCar.lastUpdate | date:'shortDate'}}
      </ion-row>
    </ion-col>
    <ion-col col-4>
      <ion-row align-self-stretch>
        <button icon-only (click)="increase()">
            <ion-icon name="arrow-up" class="arrows"></ion-icon>
        </button>
      </ion-row>
      <ion-row align-self-stretch>
        <button icon-only (click)="decrease()">
            <ion-icon name="arrow-down" class="arrows"></ion-icon>
        </button>
      </ion-row>
    </ion-col>
  </ion-row> -->
</ion-card>
