car {
    .floor {
        flex-grow: 1;
    }
    
    .car-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .car-name {
        font-size: 1.5rem;
        margin-bottom: 1.3rem;
    }

    .card-content-md {
        line-height: 85%;
        font-size: 7rem;
        display: flex;
        justify-content: center
    }

    .card-md {
        background: white;
        color: #233d4d;
    }

    button {
        background-color: #dddddd;
        margin: 2px;
        border-radius: 5px;
    }

    .arrows {
        font-size: 10rem !important;
    }

    ion-icon {
        padding: 0.1em 0 !important;
    }
}
