<ion-card>
    <ion-item>
      {{theCar.name}}
    </ion-item>
    <ion-item>
      Last Update: {{theCar.lastUpdate}}
    </ion-item>
    <ion-card-content>
      {{theCar.currentFloor}}
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-only block (click)="increase()">
            <ion-icon name="arrow-up"></ion-icon>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-only block (click)="decrease()">
            <ion-icon name="arrow-down"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
