.page-home {
    color: white;

    // .scroll-content {
    //     display: table !important;
    //     width: 100% !important;
    //     height: 100% !important;
    // }

    // .scroll {
    //     display: table-cell;
    //     vertical-align: middle;
    //     text-align: center;
    // }

    button {
        color: color($colors, dark);
    }

    ion-grid {
        height: 82%;
    }

    ion-icon {
        font-size: 4rem;
    }
}
