.page-home {
    color: color($colors, text);

    button {
        background-color: color($colors, primary);
        color: color($colors, light);
    }

    ion-icon {
        font-size: 4rem;
    }
}
